rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /countries/{document} {
      allow read: if true;
      allow create, update: if true;
      allow delete: if false;
    }

    match /districts/{document} {
      allow read: if true;
      allow create, update: if true;
      allow delete: if false;
    }

    match /phcs/{document} {
      allow read: if true;
      allow create, update: if true;
      allow delete: if false;
    }

    match /medicines/{document} {
      allow read: if true;
      allow create: if true;
      allow update: if request.resource.data.current_stock >= 0 
                    && request.resource.data.medicine_name == resource.data.medicine_name
                    && request.resource.data.phc_id == resource.data.phc_id;
      allow delete: if false;
    }
    match /inventoryHistory/{document} {
      allow read: if true;
      allow create: if true;
      allow update: if false;
      allow delete: if false;
    }

    match /alerts/{document} {
      allow read: if true;
      allow create, update: if true;
      allow delete: if false;
    }

    match /diseaseReports/{document} {
      allow read: if true;
      allow create, update: if true;
      allow delete: if false;
    }

    match /transfers/{document} {
      allow read: if true;
      allow create, update: if true;
      allow delete: if false;
    }

    match /federatedModels/{document} {
      allow read: if true;
      allow create, update: if true;
      allow delete: if false;
    }

    match /response_actions/{document} {
      allow read: if true;
      allow create: if request.resource.data.status == 'APPROVED' && request.resource.data.quantity > 0;
      allow update, delete: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}